ProductosComputador.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Productos" type="TiposProductos"/>
  <xs:complexType name="Raton">
    <xs:sequence>
      <xs:element name="Codigo" type="xs:string">
      </xs:element>
      <xs:element name="Nombre" minOccurs="0" type="xs:string"/>
      <xs:element name="Descripcion" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TipoProducto">
    <xs:sequence>
      <xs:element type="Raton" name="Raton" minOccurs="0"/>
      <xs:element type="Teclado" name="Teclado" minOccurs="0"/>
      <xs:element type="Monitor" name="Monitor" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Teclado">
    <xs:sequence>
      <xs:element type="xs:string" name="Codigo" minOccurs="0"/>
      <xs:element type="xs:string" name="Nombre" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Monitor">
    <xs:sequence>
      <xs:element type="xs:string" name="Codigo" minOccurs="0"/>
      <xs:element type="xs:string" name="Descripcion" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TiposProductos">
    <xs:sequence>
      <xs:element type="TipoProducto" name="Producto" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>